@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Wavefont:wght@4..1000&display=swap');

.chord-display {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.chord-display:hover {
    cursor: pointer;
}

.chord-display.is-loading {
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-family: "Pixelify Sans", sans-serif;
    text-decoration: none;
  
    * {
      transition: transform 0.2s;
      transform: skew(-2160deg);
    }
}

.chord-display:not(:hover) {
    filter: brightness(70%);
}

.chord-display-name {
    display: flex;
}

.chord-display-notes {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.chord-display-note {
    width: 2em;
    text-align: center;
}

@media only screen and (max-width: 500px) {
    .chord-display {
        width: 100%;
        justify-content: space-between;
    }
}