@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

#app {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  row-gap: 1em;
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.chords {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  row-gap: 0.5em;
  column-gap: 1em;
  height: 80vh;
  align-items: stretch;
  justify-content: flex-start;
}

@media only screen and (min-width: 501px) {
  #app {
    min-width: 500px;
    font-size: 1em;
  }

  .chords {
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  #app {
    min-width: auto;
    max-width: 300px;
    font-size: .85em;
    align-items: center;
  }

  .chords {
    flex-direction: row;
  }
}