@import "tailwindcss";

@theme {
  --spacing: 1em;
  --color-elektron-primary: #151515;
  --color-elektron-secondary: #333337;
}

:root {
  font-family: monospace;
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #EEEEF2;
  font-size: 11px;
  background-color: var(--color-elektron-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}